<div class="panel__section">
  <div class="panel__section__description">
    <h3>Bank account</h3>
    <p>Add the account where you'll receive payments.</p>
  </div>

  {{#if (eq status 'required')}}
    <section class="panel__section__content">
      <div class="bank-account__routing">
        <label for="routing-number">Routing Number</label>
        {{input disabled=isBusy type="text" name="routing-number" value=routingNumber}}
      </div>
      <div class="bank-account__account">
        <label for="account-number">Account Number</label>
        {{input disabled=isBusy type="text" name="account-number" value=accountNumber}}
      </div>
      <button {{action submit (hash accountNumber=accountNumber routingNumber=routingNumber)}} disabled={{isBusy}} class="default">Submit</button>
    </section>
  {{/if}}

  {{#if (eq status 'verified')}}
    <section class="panel__section__content">
      <div class="bank-account__bank-name">
        <label>Bank Name</label>
        <p>{{stripeConnectAccount.bankAccountBankName}}</p>
      </div>
      <div class="bank-account__routing">
        <label>Routing Number</label>
        <p>{{stripeConnectAccount.bankAccountRoutingNumber}}</p>
      </div>
      <div class="bank-account__account">
        <label>Account Number</label>
        <p>{{stripeConnectAccount.bankAccountLast4}}</p>
      </div>
    </section>
  {{/if}}
</div>
